@page "/aboutus"

<style>

    p {
        font-size: large;
        color: black
    }
</style>
<h1 class="text-center"> Welcome to Cpresso Cafe.</h1>

<table>
    <tr>
        <td class="text-center">
            <img src="img/Background_Coffee.jpg" width="500" height="300" />
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <p>
                WHO WE ARE<br />
                Cpresso is based in Gamla Stan, Stockholm. It was founded by six coffee enthusiasts and has grown to be a team of talented coffee professionals, with a wealth of experience and passion for what we do.
                Cpresso remains a gathering place for locals and a destination for guests from around the world, constantly experimenting with new ingredients and techniques. Yet we always stay true to our philosophy: Your Coffee, Your Way.
            </p>
        </td>


    </tr>

    <tr>
        <td class="text-center">
            <p>
                WHAT WE DO<br />
                We serve coffee from Coffee Growers Ltd.  and feature roasters from Europe and beyond, including Five Beans, Koppi Coffee, Coffee Collective, Drop Coffee and many more. The coffee menu is always changing for both espresso-based and filter coffees. From a fruity natural Ethiopian to a sweet washed Colombian, there’s something for everyone! We also love tea!
                Cpresso offers a delicious range of seasonal, home-cooked food for breakfast and lunch.

            </p>
        </td>


    </tr>
    <tr>
        <td class="text-center">
            <p>
                ACCOLADES<br />
                “One of the best new coffee shops in the world.”: Stockholmer.<br />
                “The not-so-best-kept-secret of Stockholm.”: The Local.<br />
                Finalist for Best New Café in the World in 2020: Coffee.com<br />
                Third place for Best Independent Coffee Shop in Europe:  Brewer Events<br />
                Best Coffee Shop in the City of Stockholm: World Traveler<br />
                Listed as one of the 15 Best Coffee Shops in Stockholm by SVT<br />
                Listed as the number one coffee shop in Stockholm on Foursquare<br />


            </p>
        </td>


    </tr>
    <tr>
        <td class="text-center">
            <p>
                ENVIRONMENTAL COMMITMENTS<br />
                We all have a responsibility to act responsibly in order to protect our planet. At Cpresso, we are very proud of the following green initiatives:<br />
                We save over 5.000 plastic milk bottles from landfills every year by utilizing an automated milk system which delivers milk in 20-liter reusable buckets by our supplier.<br />
                We save over 3.000 coffee bags from landfill every year by having our coffee delivered in tins by our supplier.<br />
                Our cups and lids are made from plants and are fully compostable. As are our iced drink cups. Our straws are made from recycled paper.<br />



            </p>
        </td>


    </tr>
    <tr></tr>
    <tr>
        <td class="text-center">
            <p>


                <i class='fas fa-map-marker-alt'> Gamla Stan,Stockholom</i>


              
            </p>

        </td>
    </tr>
    <tr>
        <td class="text-center">
            <p>

                <i class='fas fa-phone'>0123456789</i>



            </p>

        </td>
    </tr>
    <tr>
        <td class="text-center">
            <p>

              



                Opening Hours:

                Monday - Friday: 7:00 - 20:00

                Saturday - Sunday: 10:00 - 20:00

            </p>

        </td>
    </tr>
</table>
@code {

}
