@page "/productsView"
<h1 class="text-center">Products</h1>
@inject HttpClient http
<div class="container">
   
        <div class="row">

            @if (products == null || products.Length == 0)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                foreach (var product in products)
                {
                    <div class="col-sm-4 p-2">
                        <div class="card">
                            <div class="d-flex justify-content-center p-2">
                                <img src="img/@product.ImageUrl" height="100" width="100" />
                            </div>
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>
                                            <h5 class="card-title">@product.Name</h5> 
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="card-text">@product.Description </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="text-secondary text-center h2 font-weight-bold">
                                                @product.Price SEK
                                            </p>
                                        </td>
                                    </tr>
                                    
                                </table>
                              
                               
                            </div>
                        </div>
                    </div>
                }
            }



        </div>
        
       

    
</div>

@code{

    List<Order> orders = new List<Order>();
    Product[] products { get; set; }
    Order order = new Order();
    List<decimal> prices = new List<decimal>();


    protected override async Task OnInitializedAsync()
    {
        products = await http.GetFromJsonAsync<Product[]>("api/Product");
    }
   

}