
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/aboutus"><img src="img/logo.png" style="width:50px;height:50px;"/>Cpresso Cafe</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div  class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Subscribe
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="productsView">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Menu
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
